<h3 style='text-align:center'>Member Transaction </h3>
<br/>
<table>
  <tr>
  <th>    
Groups : <%= collection_select :select, :group, @groups, :id, :name, {:prompt => "Select"} %>
<br/></th>
<th>Date : <%= text_field :select, :date, :size => "8", :class => "datepicker", :value => Date.today.strftime("%d-%m-%Y"), :readonly => true %>
<br/></th>
<th><%= button_tag "submit", :onclick => "load_members()"%></th>
</tr>
</table>
<br/>
<div id="result"></div>	

<script>
  function load_members()
  {
  	group_id = $("#select_group").val()
  	if(group_id != "")
  	{
  		$.ajax
    ({
		  url: '<%= load_members_account_transactions_path %>',
		  data: { "group_id": group_id, "date": $("#select_date").val()},
		  success: function(data) 
      {
		    $('#result').html(data);
		  }
		});
  	}
  	else
  	{
  		$('#result').html("")
  	}  
  }
</script>
