<h3 style='text-align:center'>Loan Details</h3>
<br/>
<table>
<tr>  
<th>Groups : <%= collection_select :select, :group, @groups, :id, :name, {:prompt => "Select a Group"} %></th>
<th>Date : <%= text_field :select, :date, :size => "6", :class => "datepicker", :value => Date.today.strftime("%d-%m-%Y"), :readonly => true %></th>
<th><%= button_tag "submit", :onclick => "load_loan_details()"%></th>
</tr>
</table>
<br/>
<div id="result"></div>	

<script>
  function load_loan_details()
  {
  	group_id = $("#select_group").val()
  	if(group_id != "")
  	{
  		$.ajax
    ({
		  url: '<%= load_loan_details_reports_path %>',
		  data: { "group_id": group_id, "date": $("#select_date").val() },
		  success: function(data) 
      {
		    $('#result').html(data);
		  }
		});
  	}
  	else
  	{
  		$('#result').html("")
  	}  
  }
</script>
